aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
bcrypt
beautifulsoup4
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
distro
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
Google-Images-Search
googleapis-common-protos
googletrans==4.0.0-rc1
greenlet
gunicorn
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
itsdangerous
Jinja2
jiter
MarkupSafe
multidict
openai
packaging
paypalrestsdk
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyfiglet
pyOpenSSL
pyparsing
pypinyin
python-resize-image
requests
rfc3986
rsa
six
sniffio
soupsieve
SQLAlchemy
stripe
termcolor
tqdm
typing_extensions
uritemplate
urllib3
Werkzeug
WTForms
yarl
Flask-Cors
Flask-SocketIO
python-dotenv
Flask-Caching
Flask-RESTful
